@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

.merriweather-primary {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-secondary {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*header*/
.background-size{
    max-width: 1320px;
    max-height: 600px;
}

.background-image{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    max-width: 1320 px;
    max-height: 600 px;
     margin-top: 50px ;
    border-radius: 16px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.banner-contener {
    max-width: 632 px;
    max-height: 246 px;
        text-align: center;
    padding: 177px 344px;
    
}

.banner-title {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: black;
     position: relative;
    z-index: 2;
    

}
.banner-description{
     color: rgba(255, 255, 255, 1);
    font-size: 72px;
     font-weight: black;
      position: relative;
    z-index: 2;
}



/*2nd page*/
.second-title{
        color: rgba(255, 0, 0, 1);
    font-size: 88px;
    font-weight: bold;
    margin: 0 150px 48px 150px;
    max-width: 386px;
    max-height: 107px;
}
.second-description{
    color: rgba(255, 0, 0, 1);
    font-size: 24px;
    font-weight: medium ;
     max-width: 400px;
    max-height: 30px;
        margin: 0px 146px 16px 146px;

}



.second-details{
    color: rgba(7, 2, 17, 1);
     font-size: 48px;
    font-weight: bold ;
     max-width: 450px;
    max-height: 55px;
        margin: 0px 146px 48px 146px;


}
.second-page{
     max-width: 802px;
   
    text-align: center;
    margin: 179px 399px 61px 399px;
}


/*3d page */
.left-title{
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    font-weight: black;
    padding: 126px 400px 24px 126px;
    max-width: 882px;
}
.left-description{
     font-size: 18px;
    color: rgba(255, 255, 255, 1);
    padding-left: 126px;
    max-width: 700px;
    
}
.left-link{
     font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    padding-left: 158px;
    padding-top: 48px;
    max-width: 105px;
    padding-bottom: 145px;
}
.left-link a{
    color: rgba(255, 255, 255, 1);
    
}
.third-page{
    display: flex;
    max-width: 1320px;
    margin-top: 61px;
      margin: 0 auto;

}
.third-background{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
}
.right{
    padding: 60px 120px 60px 30px;
    max-width: 315px;
    max-height: 460px;
}


/*fourth page */
.fourth-page{
    
    max-width: 1320px;
    text-align: center;
    margin: 120px auto;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1), rgba(255, 192, 203, 0.1));
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.1), transparent);
    border-radius: 16px;
}
.buton{
    width: 170px;
    height: 58px;
    text-align: center;
     background-color: rgba(255, 0, 0, 1);
     color: white;
     border: none;
     border-radius: 8px;
}
.btn{
display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 550px 100px 550px;
}

.three{
    padding: 100px 380px 0px 380px;
}

/*fifth page*/
.three-part{
    display: flex;
    max-width: 1320px;
    max-height: 465px;
    margin: 0 auto;
}
.new-heading{
      font-weight: 500px;
    font-size: 24px;
    color: rgba(255, 0, 0, 1);
}
.new-taital{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: 900;
}

.new-description{
    color: rgba(7, 2, 17, 0.6);
     font-size: 20px;
    font-weight: 400px;
}

.new{
    max-width: 390px;
    max-height: 255px;
    margin: 104px 70px 104px 0px;
}
.pic{
    max-width: 363px;
    max-height: 363px;
    margin: 45px;

}
.year-taital{
     font-weight: bold;
    font-size: 48px;
    color: rgba(255, 0, 0, 1);
}

.year-part{
      max-width: 275px;
    max-height: 170px;
    margin: 112px 0px 0px 118px;
}
.year-pic{
     max-width: 140px;
    max-height: 140px;
    margin: 43px 136px 2px 118px;

}
.thin-circle {
  width: 463px;
  height: 463px;
  border: 15px solid red;
  border-radius: 50%;     
  background-color: transparent; 
  
}


/*6Th page*/
.card{
    max-width: 1320px;
    margin: auto;
    margin-top: 120px;
}
.photo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.gift-best{
    max-width: 192px;
    max-height: 30px;
     margin-bottom: 22px;
}
.gift-taital{
    max-width: 566px;
    max-height: 60px;
     margin-bottom: 22px;
}
.gift-description{
     max-width: 900px;
    max-height: 65px;
    margin-bottom: 45px;
}

/*7th page */
.latter{
    max-width: 1320px;
    
    margin: 120px auto;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.05);
}
.use{
      display: flex;
     text-align: center;
      width: 648px;
      height: 72px;
      
      border-radius: 50px;
      margin: 48px 336px 80px 336px;
      padding-bottom: 80px;
       
}
.use input[type="email"] {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0 20px;
  font-size: 16px;
  border-radius: 50px 0 0 50px;

  text-align: center;
}

.use button {
  background-color: red;
  color: white;
  border: none;
  padding: 0 30px;
  height: 100%;
  font-size: 16px;
  border-radius: 0 50px 50px 0;
  
  
  text-align: center;
}

.latter-image{
    margin-bottom: 40px;
    padding-top: 80px;
}
.latter-title {
    margin-bottom: 22px;
}


/*footer*/
.last-page{
    display: flex;
    max-width: 1185px;
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    margin-left: 120px;
    padding-top: 120px;
}
.fotter-item{
    background-color: black;
}
.color-fotter{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 500px;
}

.icons{
     display: flex;
     max-width: 328px;
     gap: 24px;
     padding-top: 98px;
     padding-left: 624px;
}

.last-line{
    display: flex;
   
}
.last-first{
    padding-left: 124px;
    padding-top: 98px;
    padding-bottom: 150px;
}
.last-last{

    padding-left: 870px;
     padding-top: 98px;
    padding-bottom: 150px;
}

/*share style*/
.place , .date , .time{
    font-weight: 600px;
    font-size: 32px;
    color: rgba(7, 2, 17, 1);
}

span {
    font-weight: 600px;
    font-size: 32px;
    color: rgba(255, 0, 0, 1);
}